Projeto2/IaC/.terraform.lock.hcl
Projeto2/IaC/.terraform/modules/modules.json
Projeto2/IaC/.terraform/providers/registry.terraform.io/hashicorp/aws/6.32.1/linux_amd64/LICENSE.txt
Projeto2/IaC/.terraform/terraform.tfstate
Projeto2/IaC/.terraform/providers/registry.terraform.io/hashicorp/aws/6.32.1/linux_amd64/terraform-provider-aws_v6.32.1_x5
